@if (safeIdToSend != "") {
  <app-safe-key-pad [safeId]="safeIdToSend" />
} @else {
  <form [formGroup]="safeForm" (ngSubmit)="onSubmit()">
    <label for="safeIdControl">Enter a safe id: </label>
    <br />
    <input
      id="safeIdControl"
      class="border-3 p-1 text-mycolors-inputprimary text-tester2"
      type="text"
      formControlName="safeIdControl"
      placeholder="Ex. 1, 2, or 3"
    />
    <br />
    <button
      class="bg-blue-500 rounded mt-2 p-1 text-white"
      type="Submit"
      [disabled]="!safeForm.valid"
    >
      Submit
    </button>
  </form>
}
