@if (safeIdToSend != "") {
  <app-safe-key-pad [safeId]="safeIdToSend" />
} @else {
  <label class="text-lg mb-4" style="color: #e9e6d7" for="safeIdControl"
    >Enter your Safe ID below to access your safest functional but empty safe
    @if (statusMessage != "") {
      <p style="color: #e54c38">{{ statusMessage }}</p>
    }
  </label>
  <form [formGroup]="safeForm" (ngSubmit)="onSubmit()">
    <br />
    <input
      id="safeIdControl"
      class="border-inputwhite text-inputgray border-3 p-1"
      type="text"
      formControlName="safeIdControl"
      placeholder="Ex. 1, 2, or 3 (1-10)"
    />
    <br />
    <button
      class="bg-splashbuttonbg hover:bg-buttonhover rounded-lg mt-4 px-4 py-2 text-buttontext font-medium transition duration-200"
      type="Submit"
      [disabled]="!safeForm.valid"
    >
      Submit
    </button>
  </form>
}
