<div>
  @if (safeResponse != undefined) {
    <div class="text-xl font-bold" style="color: #e9e6d7">
      <p>Safe {{ safeId }} Status: {{ safeResponse.isDetail }}</p>
    </div>

    <div class="mt-4">
      <div class="flex flex-row gap-2">
        @for (item of digits; track item) {
          <button
            (click)="concatNumberToInput(item.toString())"
            class="rounded shadow-md bg-[#4b3621] hover:bg-[#654321] p-4 text-[#e9e6d7] border border-[#8b7355] transition duration-200"
          >
            {{ item }}
          </button>
        }
      </div>

      <div class="mt-4 text-xl font-bold flex flex-row gap-2">
        @if (openValidStatusId.has(safeResponse.stateId)) {
          <button
            (click)="safeOpen()"
            class="rounded shadow-md bg-[#8b4513] hover:bg-[#a0522d] p-4 text-[#e9e6d7] border border-[#deb887] transition duration-200"
          >
            Open
          </button>
        } @else {
          <button
            (click)="safeOpen()"
            class="rounded shadow-md bg-[#696969] hover:bg-[#808080] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
          >
            Open
          </button>
        }
        @if (closeValidStatusId.has(safeResponse.stateId)) {
          <button
            (click)="safeClose()"
            class="rounded shadow-md bg-[#556b2f] hover:bg-[#6b8e23] p-4 text-[#e9e6d7] border border-[#8fbc8f] transition duration-200"
          >
            Close
          </button>
        } @else {
          <button
            (click)="safeClose()"
            class="rounded shadow-md bg-[#696969] hover:bg-[#808080] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
          >
            Close
          </button>
        }

        @if (lockValidStatusId.has(safeResponse.stateId)) {
          <button
            (click)="safeLock()"
            class="rounded shadow-md bg-[#2f4f4f] hover:bg-[#3d5e5e] p-4 text-[#e9e6d7] border border-[#5f9ea0] transition duration-200"
          >
            Lock
          </button>
        } @else {
          <button
            (click)="safeLock()"
            class="rounded shadow-md bg-[#696969] hover:bg-[#808080] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
          >
            Lock
          </button>
        }

        @if (submitValidStatusId.has(safeResponse.stateId)) {
          <button
            (click)="submitSafePin(digitsInput)"
            class="rounded shadow-md bg-[#483d8b] hover:bg-[#6a5acd] p-4 text-[#e9e6d7] border border-[#7b68ee] transition duration-200"
          >
            Submit
          </button>
        } @else {
          <button
            (click)="submitSafePin(digitsInput)"
            class="rounded shadow-md bg-[#696969] hover:bg-[#808080] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
          >
            Submit
          </button>
        }

        class="rounded shadow-md bg-[#8b0000] hover:bg-[#a52a2a] p-4
        text-[#e9e6d7] border border-[#cd5c5c] transition duration-200" > Clear

        @if (resetValidStatusId.has(safeResponse.stateId)) {
          <button
            (click)="resetSafePin()"
            class="rounded shadow-md bg-[#4b0082] hover:bg-[#663399] p-4 text-[#e9e6d7] border border-[#9370db] transition duration-200"
          >
            Reset
          </button>
        } @else {
          <button
            (click)="resetSafePin()"
            class="rounded shadow-md bg-[#696969] hover:bg-[#808080] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
          >
            Reset
          </button>
        }
        <button
          (click)="factoryReset()"
          class="rounded shadow-md bg-[#403d39] hover:bg-[#ccc5b9] p-4 text-[#e9e6d7] border border-[#a9a9a9] transition duration-200"
        >
          Factory Reset
        </button>
      </div>

      <div class="text-xl font-bold mt-4" style="color: #e9e6d7">
        <div class="font-bold">
          @if (digitsInput == "") {
            <p>Entered SafeCode: awaiting a safe pin</p>
          } @else {
            <p>Entered SafeCode: {{ digitsInput }}</p>
          }
        </div>
      </div>
    </div>
  }
</div>
